/* prevents adjustments of font size when orientatino changes */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* apply a natural box layout model to all elements */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

//BODY RULES
body {
  font-family: $font-family;
}

// HEADER RULES
// div.headerWrapper {
// }

.headerWrapper {
  background-color: $primaryColor;
  header {
  padding: 2%;
  .logo {
    max-width: 10%;
  }
  h1.companyName {
  text-shadow: 1px 1px 3px black;
  margin: 0;
  color: white;
  font-weight: $heavyWeight;
  font-size: 3rem;
  display: block;
  }
  h1.companySlogan {
  text-shadow: 1px 1px 3px black;
  margin: 0;
  color: white;
  font-weight: $regularWeight;
  font-size: 2rem;
  }
}
}



// MAIN RULES


.navWrapper {
  background-color: $secondaryColor;
}



button {
  height: 50px;
  width: 50px;
}

button:hover {
  color: white;
  background-color: $primaryColor;
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: $secondaryColor;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    width: 33%;
    display: block;
    float: left;
  }
  li.active {
    background-color: darken($primaryColor, 10%);
  }
  a {
    display: block;
    padding: .8rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  a:hover {
    background-color: lighten($primaryColor, 10%);
  }
}



.grid {
  width: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  .hotel {
    grid-column: 1/span 1;
    margin-bottom: 5%;
  }
}

figure {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: .5);
  color: white;
}

.pic {
  width: 100%;
}

.locations {
  margin-left: 2%;
  margin-bottom: 0;
}

div.below {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div .below span i {
  float: left;
  font-size: 1.5rem;
}

div.below span p {
  padding-left: 1.6rem;
}

p {
  margin: 0;
}

/* clearfix: force an element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }